# Q1.홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.

|과목|점수|
|----|:---:|
|국어|80|
|영어|75|
|수학|55|

In [1]:
홍길동 = {'국어' : 80, '영어' : 75, '수학' : 55}

In [3]:
scores=sum(홍길동.values()) / len(홍길동.values())
print(scores)

70.0

# Q2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해보자.

In [5]:
# %  - 나머지 연산자  //  - 몫의 연산자

int_13=13
int_13 % 2 == 1  # 1과 같으면 boolean

True

In [6]:
# in13 이 짝수인지 아닌지

int_13 % 2 == 0   #나머지가 0이 아님

False

# Q3. 홍길동 씨의 주민등록번호는 881120-1068234이다.   
홍길동씨의 주민등록번호를 연월일(YYYYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.
```
pin = '881120-1068234'
yyyymmdd = # 입력
num =  # 입력
print() # 연월일 부분 출력
print() # 숫자부분 출력
```

In [12]:
pin = '881120-1068234'
yyyymmdd = '19' + pin[:6]      # 슬라이싱 하는 부분 헷깔림 주의
num =  pin[7:]
print(type(yyyymmdd))
print(num)

<class 'str'>
1068234

In [1]:
# 슬라이싱
pin = '881120-1068234'
yyyymmdd_1 = pin[:6]
num_1 = pin[-7:]
print(f'생년월일{yyyymmdd_1}, 뒷자리{num_1}')

# 스플릿을 사용하여 구분하기
a, b = pin.split('-')
print(a,b)

생년월일881120, 뒷자리1068234
881120 1068234

In [14]:
int(yyyymmdd)   # int로 변환

19881120

In [13]:
type(int(yyyymmdd))   #데이터 타입 확인

int

# Q4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.   
주민등록번호에서 성별을 나타내는 숫자를 출력해보자.
```
pin = "881120-1068234"
print( )
```

In [16]:
pin='881120-1068234'
print(pin[7])          #하나는 인덱스 번호로 추출

1

# Q5. 다음과 같은 문자열 a:b:c:d가 있다.   
문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해보자.
```
a = "a:b:c:d"
b =
print(b)
```

In [19]:
a = 'a:b:c:d'
b = a.replace(':','#')
print(b)

a#b#c#d

# Q6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
```
a = [1, 3, 5, 4, 2]
a.
a.
print()
```

In [20]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [21]:
a = [1,3,5,4,2]
a.sort(reverse=True) # Tab을 누르면 사용가능한 매개변수를 볼 수 있음
print(a)

[5, 4, 3, 2, 1]

In [22]:
a = [1,3,5,4,2]
a.sort()
a = a[::-1] # step을 사용하여 맨 끝 인덱스부터 선택  # :: -1부터 차례대로 불러오기
print(a)

[5, 4, 3, 2, 1]

# Q7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해보자.
```
a = ['Life', 'is', 'too', 'short']
result =
print(result)
```

In [25]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [26]:
a = ['Life', 'is', 'too', 'short']
result = "/".join(a)
print(result)

Life/is/too/short

# Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
```
a = (1, 2, 3)
a =
print(a)
```

In [27]:
a = (1, 2, 3)
a = a + (4,)   #tuple 콤마 넣기, 새로운 a라는 변수에 4를 추가한 것.
print(a)

(1, 2, 3, 4)

# Q9. 다음과 같은 딕셔너리 a가 있다.
```
>>> a = dict()
>>> a
{}
```
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   
1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [ ]:
#딕셔너리 key값에는 list 못들어감 -> 3번.

# Q10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
```
a = {'A':90, 'B':80, 'C':70}
result =
print(a)
print(result)
```

In [29]:
a = {'A':90, 'B':80, 'C':70}
result = a['B']
print(a)
print(result)

{'A': 90, 'B': 80, 'C': 70}
80

# Q11. a 리스트에서 중복 숫자를 제거해 보자.
```
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet =
b =
print(b)
```

In [2]:
#set 집합은 중괄호, 중복되는 숫자 없이 !

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a) # 각 유니크값이 집합 {} 으로 저장됨
b = list(aSet) # 다시 리스트로 변환해주는 작업
print(aSet)
print(b)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

# Q12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.   
다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게될까?   
그리고 이런 결과가 나오는 이유에 대해 설명해보자.
```
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)
```

In [31]:
#얕은 복사와 깊은 복사의 차이

a = b = [1,2,3] # 얕은복사 (같은 주소값을 사용) - 좀 더 빠른 반응
a[1] = 4

print(b)


#깊은복사 (전체 내용을 그대로 복사해옴) 
#새로운 메모리를 불러오기때문에 런타임 증가 -> 새로운 변수 지정

a = [1,2,3]
b_2 = a[:]   #인덱스 설정 안하고 a 그대로 복사하면 얕은 복사가 됨. 네^^*
b_3 = a.copy()   #복제품 만들어줘 method.
a[1] = 4

print(b_2)
print(b_3)

[1, 4, 3]
[1, 2, 3]
[1, 2, 3]

```
"서두르지 마라, 그러나 멈추지도 마라."
- 요한 볼프강 폰 괴테
```