In [54]:
#1

print("Hello world")

Hello world

In [17]:
#2

print("Mary's cosmetics")

Mary's cosmetics

In [20]:
#3 

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [47]:
#4 

print("C:\\Windows")

C:\Windows

\n : 줄 바꾸기   
\t : Tap

In [22]:
#5

print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [23]:
#6

print ("오늘은", "일요일")

오늘은 일요일

print 함수의 sep 인자로 ";"를 입력하면 출력되는 값들 사이에 한 칸의 공백대신 세미콜론이 출력됩니다.

In [49]:
#7 

print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [27]:
#8

print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

In [51]:
#9

print("first", end=""); print("second")

firstsecond

In [52]:
print(5/3)

1.6666666666666667

In [59]:
#11

삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

|항목|값|
|:--:|:--:|
|시가총액|298조|
|현재가|50,000원|
|PER|15.79|

In [63]:
#12

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [77]:
#13

s = "hello"
t = "python"
print=(s+"! "+t)
print

'hello! python'

In [ ]:
#14

8

In [1]:
#15
#type() 함수는 데이터 타입을 판별

a=128
print(type(a))

<class 'int'>

In [2]:
#16

num_str="720" #형변환
num_int=int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [ ]:
#17
#정수를 문자열 100으로 변환

num=100
result=str(num)
print(result, type(result))

In [ ]:
#18
#문자열 15.79를 실수(float)으로 변환

data="15.79"
data=float(data)
print(data, type(data))

In [5]:
#19
#문자열을 정수로 변환 

year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [6]:
#20

월=48584
총금액=월*36
print(총금액)

1749024

In [11]:
#21
#letter가 바인딩하는 문자열에서 첫번째와 세번째 문자 출력

lang='python'
print(lang[0],lang[2])

p t

In [12]:
#22

license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [13]:
#23
#슬라이싱할 때 `시작인덱스:끝인덱스:오프셋`을 지정할 수 있습니다.

string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [14]:
#24
#문자열을 거꾸로 뒤집어 출력

string = "PYTHON"
print(string[::-1])

NOHTYP

In [15]:
#25
#- 제거하고 출력

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [ ]:
#25
#문자열로 표현된 url에서 `.`을 기준으로 분리합니다. 분리된 url 중 마지막을 인덱싱하면 도메인만 출력할 수 있습니다.

url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

In [18]:
#29
#아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [21]:
#32
#문자열 곱하기

print("Hi" * 3)

HiHiHi

In [22]:
#33

print("-" * 80)

--------------------------------------------------------------------------------

In [23]:
#34

t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [24]:
#35

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))   #%s : 문자열(String)
print("이름: %s 나이: %d" % (name2, age2))   #%d : 정수(Integer)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [25]:
#36
#format() 메서드

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [26]:
#37
#f-string 문자열 앞에 f가 붙은 형태입니다.
#f-string을 사용하면 `{변수}`와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [27]:
#38
#컴마제거

상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [28]:
#39
#문자열 슬라이싱

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [29]:
#40
#strip 메서드
#문자열 공백 제거 

data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [30]:
#41
#upper 메서드

ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [31]:
#42
#lower 메서드

ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [34]:
#043
#capitalize 메서드

a = "hello"
a = a.capitalize()
print(a)

Hello

In [35]:
#044
#endswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인

file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [37]:
#047
#split 메서드
#다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
a.split()

['hello', 'world']

In [38]:
#048
#split 메서드
#다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [39]:
#050
#rstrip 메서드
#문자열의 오른쪽에 공백이 있을 때 이를 제거

data = "039490     "
data = data.rstrip()

In [42]:
#051
#리스트 생성

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [43]:
#052 리스트에 원소 추가
#051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [44]:
#053
#movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [45]:
#054
#movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [46]:
#055
#movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [48]:
#056
#lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [50]:
#057
#다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [51]:
#058
#다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [52]:
#059
#다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [53]:
#060
#다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [55]:
#061
#price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [56]:
#062
#슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [57]:
#063
#슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [58]:
#064
#슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [59]:
#065
#interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [60]:
#066 
#join 메서드

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [61]:
#067
#join 메서드

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [62]:
#068
#join 메서드

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [63]:
#069
#문자열 split 메서드

string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [64]:
#070 리스트 정렬
#리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [65]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

In [66]:
#071
#my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [68]:
#073
#숫자 1 이 저장된 튜플을 생성하라.

my_tuple = (1)
type (my_tuple)

int

In [69]:
my_tuple = (1, )

In [71]:
t = 1, 2, 3, 4
type(t)

tuple

In [75]:
#077
#다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
type(data)

list

In [77]:
#078
#다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
type(data)

tuple

In [78]:
#080 range 함수
#1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [9]:
# 81~83, 굳이 star expression을 쓰지 않아도 되지만, 경우에따라 적용

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*Left_8, _, _ = scores
print(f'좌측8개값 구하기\nstar_expression\n{Left_8}\nindexing\n{scores[:-3]}')
_,_,*Right_8 = scores
print(f'우측8개값 구하기\nstar_expression:{Right_8}\nindexing:{scores[2:]}')
_, *mid_8, _ = scores
print(f'중앙8개값 구하기\nstar_expression:{mid_8}\nindexing:{scores[1:-1]}')

좌측8개값 구하기
star_expression
[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]
indexing
[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9]
우측8개값 구하기
star_expression:[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
indexing:[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
중앙8개값 구하기
star_expression:[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]
indexing:[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [79]:
#084
#비어있는 딕셔너리
#temp 이름의 비어있는 딕셔너리를 만들라.

temp={}
type(temp)

dict

In [80]:
#085
#다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [82]:
#087
#다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [85]:
#088
#다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice["메로나"] = 1300
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1300

In [86]:
#089
#다음 딕셔너리에서 메로나를 삭제하라.

del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [87]:
#092 딕셔너리 인덱싱
#inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][0], "원")

300 원

In [88]:
#093 딕셔너리 인덱싱
#inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

print(inventory["메로나"][1], "개")

20 개

In [89]:
#095 딕셔너리 keys() 메서드
#다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [90]:
#097 딕셔너리 values() 메서드
#icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [91]:
#098 딕셔너리 update 메서드
#아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [43]:
#99 ~ 100
#아래 두 개의 튜플을 하나의 딕셔너리로 변환하라.
#keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.
#zip은 결합, 새로운 객체 생성, for문 등 다양하게 쓰이니 기본적인 개념은 알아두기

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

#dict가 아니라 list, tuple로도 가능함

{'apple': 300, 'pear': 250, 'peach': 400}
{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [92]:
#102
#아래 코드의 출력 결과를 예상하라

print(3 == 5)

False

In [93]:
#105
#아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))

True

In [95]:
#108
#아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
#109
#아래 코드의 출력 결과를 예상하라

if True :      
    if False:        
        print("1")       
        print("2")      
    else:      
        print("3")      
else :      
    print("4")      
print("5")

3   
5

In [1]:
#111
#사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

user = input("입력:")
print(user * 2)

입력:안녕하세요
안녕하세요안녕하세요

In [96]:
#112
#사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

user = input("숫자를 입력하세요: ")
print(10 + int(user))

숫자를 입력하세요: 2
12

In [97]:
# 113
#사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

user = input("")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

5
홀수

In [98]:
# 114
#사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값: 260
255

In [100]:
#115

user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)
    

#elif 2개 이상 넣을 수 있음. 그때부터는 2순위 3순위 4순위로 밀리는 것임
#255를 넘기는 값들은 255로 통일시켜 나오게 해.
#0보다 작은 것도 출력 안 시킬거야. 0보다 작으면 모두 0으로 나오게.
#0부터 255사이의 값만 남으면 그때는 이걸 출력해

입력값: 260
240

In [102]:
#116
#사용자로부터 입력 받은 시간이 정각인지 판별하라.

time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 10
정각이 아닙니다.

In [103]:
#117
#사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?포도
정답입니다.

In [104]:
#118

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명: google
투자 경고 종목이 아닙니다.

In [105]:
#120

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?바나나
오답입니다.

In [106]:
#121
#islower -> 이거 소문자야?
#lower  -> 대문자로 소문자로 바꿔줘
#upper -> 소문자면 대문자로 바꿔줘 

user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

google
GOOGLE

In [ ]:
#123
#float: 소수점까지 나오게 해줘
    
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

In [ ]:
input number1: 10
input number2: 9
input number3: 20

In [ ]:
#124
#max
#사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

In [ ]:
#125

number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

In [ ]:
#126

우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

In [ ]:
#127

주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

In [2]:
#128

주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 890228-2156548
서울이 아닙니다.

In [2]:
#130
#requests 라이브러리 설치해야 가능

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [1]:
#131
#for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [3]:
#132
#for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [4]:
#133
#다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [7]:
#134
#for문을 풀어서 동일한 동작을하는 코드를 작성하라.

변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [6]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [10]:
#135
#for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [11]:
#136
#다음 코드를 for문으로 작성하라.

for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [12]:
리스트 = [10, 20, 30]
for 변수 in 리스트:
  print(변수)

10
20
30

In [13]:
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [14]:
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [15]:
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [16]:
#141
#다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
for 변수 in 리스트:
  print(변수 + 10)

110
210
310

In [17]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [19]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  print(len(종목명))

6
4
4

In [20]:
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름[0])

d
c
p

In [21]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x " + str(변수))

3 x 1
3 x 2
3 x 3

In [22]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x", 변수)

3 x 1
3 x 2
3 x 3

In [23]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
  print(변수)

나
다
라

In [24]:
#149
#리스트 슬라이싱에서 `[시작:끝:증감폭] ` 세번째 값은 값을 가져오는 단위를 의미했습니다. 증감폭을 2로 설정해서 "가"와 "다" 값만 슬라이싱합니다

리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
  print(변수)

가
다

In [25]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
  print(변수)

라
다
나
가

In [28]:
#151
#for문을 사용해서 리스트의 음수를 출력하라.

리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

In [29]:
#152
#for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
  if 변수 % 3 == 0:
    print(변수)

3

In [30]:
#153
#리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
  if (변수 < 20) and (변수 % 3 == 0):
    print(변수)

12
18

In [31]:
#154
#리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
  if len(변수) >= 3:
    print(변수)

study
python
language

In [32]:
#155
#리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

A
D

In [34]:
#157
#이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
  print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

In [35]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
  split = 변수.split(".")
  print(split[0])

hello
ex01
intro

In [36]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == "h":
    print(변수)

intra.h
define.h

In [38]:
#161

for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [40]:
#162
#월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

for x in range(2002, 2051, 4) :
    print (x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [41]:
#163
#1부터 30까지의 숫자 중 3의 배수를 출력하라.

for num in range(3, 31, 3):
    print (num)

3
6
9
12
15
18
21
24
27
30

In [42]:
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [43]:
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [44]:
for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [45]:
num = 3
for i in range(1, 10, 2) :
    print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [46]:
num = 3
for i in range(1, 10) :
    if i % 2 == 1 :
        print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [47]:
hab = 0
for i in range(1, 11):
    hab += i
print ("합 :", hab)

합 : 55

In [48]:
hab = 0
for i in range(1, 11, 2):
    hab += i
print ("합 :", hab)

합 : 25

In [49]:
#170
#1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

In [51]:
#171
#아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [52]:
#172
#아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [53]:
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [55]:
#175
#my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

for i in [0, 1, 2]:
    print(my_list[i])

가
나
다

In [56]:
for i in [0, 1, 2]:
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [57]:
for i in range( len(my_list) - 1 ) :
  print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [58]:
for i in range( 1, len(my_list) ) :
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [59]:
#176
#리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]

In [60]:
for i in [0, 1, 2]:
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [61]:
for i in range( len(my_list) - 2 ):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [62]:
#177
#반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

for i in [2, 1, 0] :
    print(my_list[i+1], my_list[i])

라 다
다 나
나 가

In [63]:
for i in range(len(my_list) - 1, 0, -1):
    print(my_list[i], my_list[i-1])

마 라
라 다
다 나
나 가

In [64]:
for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

마 라
라 다
다 나
나 가

In [68]:
#178
#리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.
#예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

my_list = [100, 200, 400, 800]

In [67]:
for i in [0, 1, 2]:
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [66]:
for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [69]:
#179
#리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]

In [70]:
print(abs(my_list[0] + my_list[1] + my_list[2])/3)   #abs(x) : 절대값을 구할때 abs라는 이름의 함수를 사용
print(abs(my_list[1] + my_list[2] + my_list[3])/3)
print(abs(my_list[2] + my_list[3] + my_list[4])/3)
print(abs(my_list[3] + my_list[4] + my_list[5])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [71]:
for i in [1, 2, 3, 4]:
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [72]:
for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [2]:
#181
#아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [3]:
#182
#아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

In [4]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

In [5]:
#185
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

In [6]:
for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [7]:
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [8]:
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [9]:
for row in apart:
    for col in row:
        print(col, "호")
        print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [10]:
for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [11]:
for row in apart:
    for col in row:
        print(col, "호")
print("-" * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [12]:
#191
#data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

In [13]:
#수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [14]:
#192
#191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

for line in data:
    for column in line:
        print(column * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [15]:
#193
#192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [2]:
#195
#ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

In [3]:
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [4]:
for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

190
310

In [5]:
#198

volatility = []
for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [6]:
for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [1]:
#201
#"비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

def print_coin():
    print("비트코인")

In [2]:
print_coin()

비트코인

In [3]:
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [5]:
#206
#아래 코드의 실행 결과를 예측하라.

def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [6]:
#207

print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [7]:
#208

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [8]:
#210

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [9]:
#211

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [11]:
#212

def 함수(a, b) :
    print(a + b)
    
함수(3, 4)
함수(7, 8)

7
15

In [12]:
#215

def print_with_smile (string) :
    print (string + ":D")

In [13]:
#216

print_with_smile("안녕하세요")

안녕하세요:D

In [1]:
#217

def print_upper_price(price) :
    print(price * 1.3)

In [2]:
#218

def print_sum (a, b) :
    print (a + b)

In [4]:
#219

print_arithmetic_operation(3, 4)
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [8]:
#220
#세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

In [10]:
#221
#입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

print_reverse("python")
def print_reverse(string) :
    print(string[::-1])

nohtyp

In [21]:
#222
#성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

def print_score(score_list) :
    print(sum(score_list)/len(score_list))
    
print_score ([1, 2, 3])

2.0

In [20]:
#223
#하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

def print_even (my_list) :
    for v in my_list :
        if v % 2 == 0 :
            print(v)
            
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [19]:
#224
#하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

def print_keys(dic):
    for keys in dic.keys():
        print(keys)
        
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [42]:
#225
#my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.
#my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

def print_value_by_key (my_dict, key) :
    print(my_dict[key])

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [46]:
#226
#입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])
        
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [54]:
#227
#문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [55]:
#228
#연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 
#회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

def calc_monthly_salary(annual_pay) :
    monthly_pay = int(annual_pay / 12)
    return monthly_pay

calc_monthly_salary(12000000)

1000000

In [56]:
#229

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [57]:
#230

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [59]:
#232
#문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

def make_url(string) :
    url = "www." + string + ".com"
    return url

make_url("naver")

'www.naver.com'

In [61]:
def make_url(string) :
    return "www." + string + ".com"

make_url("naver")

'www.naver.com'

In [62]:
#234
#숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [63]:
#235
#콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

def convert_int (string) :
    return int(string.replace(',', ''))

convert_int("1,234,567")

1234567

In [64]:
#236

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [65]:
#237

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [66]:
#238

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [67]:
#241

import datetime      #년, 월, 일로 다음과 같이 datetime.date 객체를 만들 수 있다.

now = datetime.datetime.now()
print(now)

2023-12-10 21:20:15.736206

In [68]:
#242
#현재 시간의 타입

import datetime

now = datetime.datetime.now()   #시, 분, 초까지 포함한 일시 데이터를 생성하려면 다음과 같이 datetime.datetime을 사용
print(now, type(now))

2023-12-10 21:20:42.867844 <class 'datetime.datetime'>

In [69]:
#243 timedelta
#datetime 모듈의 timedelta를 사용해서 오늘로부터 5일, 4일, 3일, 2일, 1일 전의 날짜를 화면에 출력해보세요.
#datetime.timedelta()는 두 날짜의 차이를 계산할 때 사용하는 함수이다. 
#timedelta 객체에는 산술 연산자 +와 -를 사용할 수 있으므로 어떤 날짜에 원하는 기간(일, 시, 분, 초)을 더하거나 뺄 수 있다.

import datetime

now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2023-12-05 21:21:13.472686
2023-12-06 21:21:13.472686
2023-12-07 21:21:13.472686
2023-12-08 21:21:13.472686
2023-12-09 21:21:13.472686

In [70]:
#244 strftime
#현재시간을 얻어온 후 다음과 같은 포맷으로 시간을 출력해보세요. strftime 메서드를 사용하세요

import datetime

now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

21:24:49

In [71]:
#245 strptime
#datetime.datetime.strptime 메서드를 사용하면 문자열 형식의 시간을 datetime.datetime 타입의 시간 값으로 만들어줍니다. 
#2020-05-04"의 문자열을 시간 타입으로 변환해보세요.

import datetime

day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [72]:
#246 sleep 함수
#time 모듈, datetime 모듈을 사용해서 1초에 한 번 현재 시간을 출력하는 코드를 작성하세요.

import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2023-12-10 21:27:52.666948
2023-12-10 21:27:53.668425
2023-12-10 21:27:54.668527
2023-12-10 21:27:55.668660
2023-12-10 21:27:56.669126
2023-12-10 21:27:57.669239

KeyboardInterrupt:

In [74]:
#248 os 모듈
#os 모듈의 getcwd 함수를 호출하여 현재 디렉터리의 경로를 화면에 출력해보세요.

import os
ret = os.getcwd()
print(ret, type(ret))

C:\workspace\python\wassup <class 'str'>

In [77]:
#249 rename 함수
#바탕화면에 텍스트 파일을 하나 생성한 후 os 모듈의 rename 함수를 호출하여 해당 파일의 이름을 변경해보세요.

import os
os.rename("C:\workspace\python\wassup\새파일.txt", "C:\workspace\python\wassup\새파일1.txt")

In [78]:
#250 numpy
#numpy 모듈의 arange 함수를 사용해서 0.0 부터 5.0까지 0.1씩 증가하는 값을 화면에 출력해보세요.

import numpy
for i in numpy.arange(0, 5, 0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

In [79]:
#271 Account 클래스
#은행에 가서 계좌를 개설하면 은행이름, 예금주, 계좌번호, 잔액이 설정됩니다. 
#Account 클래스를 생성한 후 생성자를 구현해보세요. 생성자에서는 예금주와 초기 잔액만 입력 받습니다. 
#은행이름은 SC은행으로 계좌번호는 3자리-2자리-6자리 형태로 랜덤하게 생성됩니다.

import random

class Account:                                                                   #__init__에서 첫 번째로 들어가는 변수명은 Calc 클래스 스스로를 지칭
    def __init__(self, name, balance):   #def __init__(self):    #__init__은 initialize를 표현한 구문이다. initialize는 '기본값 설정하기'    
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
 
        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'       #zfill함수 : 파이썬에서 숫자를 출력하고자 하는데, 앞에 0을 붙여주고 싶을 때
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

kim = Account("김민수", 100)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김민수
100
SC은행
542-33-975807

In [81]:
#272 클래스 변수
#클래스 변수를 사용해서 Account 클래스로부터 생성된 계좌 객체의 개수를 저장하세요.

import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

        Account.account_count += 1


kim = Account("김민수", 100)
print(Account.account_count)
lee = Account("이민수", 100)
print(Account.account_count)

1
2

In [82]:
#273 클래스 변수 출력
#Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메서드를 추가하세요.

import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):     #Account 클래스로부터 생성된 계좌의 개수를 출력
        print(cls.account_count)     # Account.account_count


kim = Account("김민수", 100)
lee = Account("이민수", 100)
kim.get_account_num()

2

In [2]:
#275 출금 메서드
#Account 클래스에 출금을 위한 withdraw 메서드를 추가하세요. 출금은 계좌의 잔고 이상으로 출금할 수는 없습니다.

import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:              #Account 클래스에 입금을 위한 deposit 메서드를 추가하세요. 입금은 최소 1원 이상만 가능
            self.balance += amount

    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

k = Account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.balance)

110